<div class="row">
    <div class="col-lg-4">
    
      <div class="single-product">
        <img class="img-fluid" src="../assets/img/product/p{{iter}}.jpg" alt="">
        <div class="product-details">
          <h6> <a>{{details[iter-1].name}}</a> </h6>
          <div class="price">
            <h6>{{details[iter-1].price}}</h6>
            <h6 class="l-through">{{details[iter-1].cutPrice}}</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    